* {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
} a {
    text-decoration: none;
} li{
    list-style: none;
} .wraper {
    width: 100%;
} .background {
    
} .navbar_container , .container {
    width: 1200px;
    margin: auto;
} .nav_title ,
  .nav_list , 
  .nav_ul ,
  .navbar_reg ,
  .nav_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
} .navbar_container {
    padding: 20px 0 0 0;
} html, body {
    overflow-x: hidden;
} .nav_user {
    width: 18px;
    height: 18px;
/* } button {
    border: none; */
} .nav_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
    gap: 10px;

    width: 207px;
    height: 52px;

    /* btn-gradient */
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
} .nav_ul {
    gap: 50px;
} .nav_list {
    color: #424551;
} .nav_list:hover {
    color: #FF3F3A;
    transition: 0,3s ease-in-out;
} .reg {
    width: 115px;
    height: 26px;

    /* base/bold */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 160%;
    /* identical to box height, or 26px */
    display: flex;
    align-items: center;

    /* gray/800 */
    color: #424551;
    gap: 6px;
} .nav_icon {
    margin-left: 20px;
} .play {
    width: 50px;
    height: 50px;
} .play_title {
    display: flex;
    align-items: center;
} .play_show {
    margin-top: 100px;
} .play-showreel {
    /* Play showreel */
    width: 88px;
    height: 21px;

    /* small/bold */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    display: flex;
    align-items: center;

    /* gray/900 */
    color: #1E212C;


} .play_left {
    display: flex;
    flex-direction: column;
} .play_text {
    width: 496px;
    height: 249px;

    /* display/2 */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    /* or 83px */
    display: flex;
    align-items: center;
    letter-spacing: 1px;

    /* gray/900 */
    color: #1E212C;
} .bnt {
    display: flex;
    align-items: center;
    margin-top: 25px;
} .bottom_btn {
    padding: 0px 40px;
    flex-direction: row;
    width: 201px;
    height: 52px;
    background: linear-gradient(#ffa3a0);
    border: #F75E05 1px solid;
    margin-left: 20px;
}  .bottom_btn:hover ,
   .bottom_btn-first:hover {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    color: white;
} .bottom_btn-first {
    width: 148px;
    height: 52px;
    background: linear-gradient(#ffa3a0);
    border: #F75E05 1px solid;
    padding: 0px 40px;
} .play_img {
    width: 600px;
    height: 522px;
} .pley-center {
    display: flex;
} .bot_text {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 40px;
} .bot_ul {
    display: flex;
    gap: 15px;
} .bot_num {

    /* h1 */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1E212C;
} .bot_list {
    width: 138px;
    height: 26px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1E212C;
    margin: auto;
}  .workshops-cont {
    margin-top: 100px;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} .august {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    /* or 62px */
    letter-spacing: 1px;

    /* primary */
    color: #FF3F3A;
} .time {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */

    /* gray/700 */
    color: #787A80;
} .master-bottom {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */
    display: flex;
    align-items: center;

    /* gray/700 */
    color: #787A80;
} .more-btn {
    display: flex;
    align-items: center;
    padding: 0px 32px;
    gap: 10px;
    width: 342px;
    height: 44px;
    background-color: white;
    border: #FF3F3A 1px solid;
    text-align: center;
} .more-btn:hover {
    background-color: #FF3F3A;
    color: white;
} .box-jule {
    margin-top: 40px;
} .box-jule-16 {
    margin-top: 40px;
    background-color: #ffd4e5;
} .btn-span {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
} .text-exp {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    /* identical to box height, or 42px */
    display: flex;
    align-items: center;

    /* gray/900 */
    color: #1E212C;
} .btn-exp {    
    width: 215px;
    height: 52px;

    /* btn-gradient */
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px; 
    margin-left: 30px;
    border: none;
    color: white;
} .box-august , 
  .box-jule ,
  .box-jule-16 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column;
    background-color: white;
    width: 350px;
    margin: auto;
    border-radius: 4px;
    height: 270px;
    gap: 5px;
} .timer {
    display: flex;
    flex-direction: column;
} .master {
    display: flex;
    flex-wrap: wrap;
    width: 390px;
} .cont-box {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    width: 1230px;
} .title-cont {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
} .title-cont-2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    /* identical to box height, or 60px */
    text-align: center;

    /* gray/900 */
    color: #1E212C;

} .title-cont-1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    /* gray/900 */
    color: #1E212C;
} .about-info-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
} .all-time-btn {
    width: 160px;
    height: 44px;
    text-align: center;
    /* white */
    background: #FFFFFF;
    /* gray/400 */
    border: 1px solid #D7DADD;
    border-radius: 4px;
    text-align: center;
} .all-time-btn1 {
    width: 72px;
    height: 44px;

    /* white */
    background: #FFFFFF;
    /* gray/400 */
    border: 1px solid #D7DADD;
    border-radius: 4px;
} .start-text-2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */

    /* gray/800 */
    color: #424551;

    margin-right: 10px;
} .start-text {
    display: flex;
    align-items: center;
    gap: 10px;
} .search {
    box-sizing: border-box;
    width: 232px;
    height: 44px;
    background: #FFFFFF;
    /* gray/400 */
    border: 1px solid #D7DADD;
    border-radius: 4px;
    text-align: center;
} .start-text-3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    /* gray/700 */
    color: #787A80;
} .sub {
    width: 100%;
    background-color: #ffc5d6;
    margin: auto;
} .sub-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    /* gray/900 */
    color: #1E212C;
} .subscribe {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    /* or 60px */
    text-align: center;

    /* gray/900 */
    color: #1E212C;
} .sub-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 120px;
} .inp {
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    width: 422px;
} .sub-btn {
    display: flex;
    align-items: center;
    padding: 0px 40px;
    gap: 20px;
    width: 154px;
    height: 52px;   
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    border: none;
    color: white;
} .sub-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
} .sub-box {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
} .sub-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
} .Footer_wraper{
    width: 100%;
    height: 344px;
    border: 1px solid rgba(30, 33, 44, 1);
    background-color: rgba(30, 33, 44, 1);
}

.Footer{
    width: 1200px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.CreatX{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.CreatX_text{

width: 279px;
height: 90px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;

color: #FFFFFF;

opacity: 0.6;
}

.SITE_MAP{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.SITE_MAP_text1{

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;

color: #FFFFFF;

}

.SITE_MAP_text2 {

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.SITE_MAP_text3 {

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.SITE_MAP_text4 {

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.SITE_MAP_text5 {

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.SITE_MAP_text6 {

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.courses{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.courses_text1{

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;

color: #FFFFFF;

}

.courses_text2{

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.courses_text3{

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.courses_text4{

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.courses_text5{

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.courses_text6{

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.contacts_text1{

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;

color: #FFFFFF;

} .contacts_num{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;
} .contacts_mail{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;
} .sign_up{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
} .sign_up_text1{

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;

color: #FFFFFF;

} .sign_up_input{
width: 286px;
height: 36px;

background-color: rgb(73, 73, 73);
border-radius: 3px;
border: none;


font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: rgb(126, 126, 126);
} .sign_up_input:focus{
    outline: none;
} .sign_up_text2{

width: 286px;
height: 30px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 150%;

color: #FFFFFF;

} .end_footer{
    width: 100%;
    height: 50px;
    border: 1px solid #2e313b;
    background-color: #2e313b;
    margin-top: -20px;
} .end{
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} .end_text1{
color: #E5E8ED;
} .end_text2{
color: #797a7a;
} .a:hover ,
  .b:hover , 
  .c:hover , 
  .d:hover , 
  .e:hover , 
  .f:hover , 
  .g:hover , 
  .h:hover ,
  .i:hover {
    box-shadow: 0px 0px 81px 16px rgba(162, 162, 162, 0.2);
} .list-grid {
    width: 20px;
    height: 20px;
} .list {
    color: #FF3F3A;
} .grid {
    color: gray;
} .icon-list-grid {
    display: flex;
    align-items: center;
    gap: 10px;
} .list-grid {
    width: 20px;
    height: 20px;
} .list {
    color: grey;
} .grid {
    color: #FF3F3A;
} .icon-list-grid {
    display: flex;
    align-items: center;
    gap: 10px;
}